.row {
    display: table;
    table-layout: fixed; /*Optional*/


}
.columnleft {
    display: table-cell;
    width:90px;
}
.columnright {
    display: table-cell;
    width:600px;
}
.spacer {height: 60px;}
.column {
	display: table-cell;
	margin:0px;
	padding:0px;
	text-align: center;

}

.columnnotcentered {
	display: table-cell;
}


.radioGroupButtons {margin-bottom: -10px; margin-top: -30px;}
.questiontext {margin-left:10px;}

.spacerleft {
	display: table-cell;

}
.columnlabel {
	display: table-cell;
	margin:0px;
	padding:0px;
	font-size: 11px;
	font-style: italic;
	color: #878787;
	text-align: center;
}

.rowquestion {
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
	margin-bottom:25px;
}
.rowquestionmask {
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
	margin-bottom:25px;
	margin-left:25px;
}


#form {padding: 5px;}

p:before {
   content: none;
}

.sectionheader {
	font-family: 'Raleway', sans-serif; 
	font-size: 25px; 
	color:#435e70;
	border-top: 1px solid #c98406;
	margin-bottom:10px;
}
